<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KioskApp.Properties.Settings.OracleConnictionString" connectionString="Data Source=&quot;(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.105.188)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = ORCL)))&quot;;Persist Security Info=True;User ID=kiosk;Password=kiosk;Unicode=True" providerName="System.Data.OracleClient" />
        <add name="KioskApp.Properties.Settings.sqlconnstring" connectionString="Data Source=HADEED-KIOSK-01;Initial Catalog=kioskEngine;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <gcConcurrent enabled="false"/>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>

        <binding name="KioskAppWebServiceSoap" closeTimeout="00:25:00"
                    openTimeout="00:20:00" receiveTimeout="00:10:00" sendTimeout="00:25:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
     
      <endpoint address="http://192.168.105.188:90/KioskAppWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="KioskAppWebServiceSoap"
        contract="HelloWord.KioskAppWebServiceSoap" name="KioskAppWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
