<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataMatrix.net" version="0.4.2" targetFramework="net45" />
  <package id="DelSole.WPF.TouchKeyboard" version="1.0.0" targetFramework="net45" />
  <package id="mustang-modal" version="1.5.1" targetFramework="net45" />
  <package id="WPFTouchKeyboard" version="1.0.1" targetFramework="net45" />
</packages>